<div x-data=" {show : false} " :class="{'flex flex-col':show, 'flex':!show}" class="bg-purple-700 w-full sticky top-0 z-50">
  <div class="flex-none text-white font-semibold hover:opacity-75 text-xl md:text-2xl lg:text-3xl xl:text-4xl p-5">
    <a  href="/">Software Design and Analysis II</a>
  </div>
  <div class="grow"></div>
  <div x-show="show" @click.outside="show = false" class="flex flex-col text-md p-1 lg:hidden">
    <a 
      href="/Hunter_CS235_Summer24/content/Syllabus.pdf" 
      target="_blank" 
      class="text-white hover:text-purple-700 hover:bg-white text-left p-3 text-center"
    >
      Syllabus
    </a>
    <a 
      href="https://www.gradescope.com/courses/789508" 
      target="_blank" 
      class="text-white hover:text-purple-700 hover:bg-white text-left p-3 text-center"
    >
      Gradescope
    </a>
  </div>
  <div class="p-5 text-white font-semibold md:text-md lg:text-lg xl:text-xl hidden lg:block align-bottom">
    <a href="/Hunter_CS235_Summer24/content/Syllabus.pdf"target="_blank" class="hover:opacity-75">Syllabus</a>
    <a href="https://www.gradescope.com/courses/789508" target="_blank" class="hover:opacity-75">Gradescope</a>
  </div>
  <button 
    @click="show = !show"
    :class="{ 'bg-white text-purple-700 hover:bg-purple-700 hover:text-white' : show,'bg-purple-700 text-white hover:bg-white hover:text-purple-700' : !show}"
    class="flex-none text-3xl md:text-4xl lg:hidden md-0 align-top px-5 py-1"
  >
    ☰
  </button>
</div>

